#buttonresult{
    margin-top: 20px;
    margin-bottom: 20px;

}
input{
    margin-top: 20px;
    margin-bottom: 20px;
}
#buttonsort{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
